<!DOCTYPE html>
```html
{% extends 'base.html' %} {% load humanize %} {% block pageContent %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Box List</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id="add_new"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" id="box-list">
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="text-center">#</th>
                            <th class="text-center">Date/Time</th>
                            <th class="text-center">Box Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for box in boxes %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ box.date_created|date:"Y-m-d h:i A" }}</td>
                            <td>{{ box.name }}</td>
                            <td>
                                <p class="m-0 text-truncate">{{ box.description }}</p>
                            </td>
                            <td class="text-center">
                                {% if box.status == '1' %}
                                <span class="badge bg-primary bg-gradient rounded-pill px-2">Active</span> {% else %}
                                <span class="badge bg-secondary bg-gradient rounded-pill px-2">Inactive</span> {% endif %}
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-primary btn-sm edit-data" href="javascript:void(0)" data-id="{{ box.pk }}" title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ box.pk }}" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}
```